h1 {font-size: 250%; color: rgb(59, 196, 67); font-family: Arial;
}
h2 {color: rgb(36, 151, 43); font-family: Arial; font-size: 120%;
}
h3 {color: rgb(26, 124, 32); font-family: Arial;
}
h4 {color: rgb(19, 100, 24); font-family: Arial; font-size: 110%;
}
body {background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: Arial;
}
b {font-size: 110%; color: rgb(61, 61, 61);
}
i {font-size: 100%;color: rgb(50, 200, 75);
}
a:link {color: rgb(117, 254, 125); font-size: 120%
}
a:visited {color: rgb(25, 150, 50);
}
a:active {color: red;
}
a:hover {color: rgb(50, 200, 75);
font-weight: bold;
}
a {text-decoration: none;
}

.button1 {
  background-color: #43C330;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button1:hover {
  background-color: #18A303;
    transition-duration: 0.3s;
  color: white;
}

.button2 {
  background-color: #a6a6a6;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;S
}

.button2:hover {
  background-color: #808080;
    transition-duration: 0.3s;
  color: black;
}

.button3 {
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  padding: 15px 20px;
}

.button3:hover {
  background-color: rgb(70, 70, 70);
    transition-duration: 0.3s;
  color: white;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.mySlides {display: none}
